@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

:root {
 --black-color : #272a31;
 --main-color : #f03d29;
 --gray-color : #d3d3d3;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 list-style-type: none;
}

html {
 scroll-behavior: smooth;
}

body {
 font-family: 'Lato', sans-serif;
 font-size: 0.89rem;
 letter-spacing: 1.5;
 color: var(--black-color);
}

section {
 padding: 2% 10rem;
}

.mobile {
 display: none;
}

.mini {
 display: none;
}
/* ==========header section========= */

.heading-mini {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: var(--black-color); 
}

.mini-heading {
 display: flex;
}

.mini-heading li {
 margin-inline: 1rem;
}

.mini-heading li a {
 color: #fff;
 text-decoration: none;
 font-size: 1rem;
}

.navbar {
 display: flex;
 justify-content: space-around;
 align-items: center;
 background-color: #fff;
 padding: .5rem .2rem;
}

.logo {
 width: 3rem;
 height: 3rem;
}

.nav-menu {
 display: flex;
 justify-content: space-between;
 gap: 2.5rem;
}

.nav-menu li a {
 text-decoration: none;
 color: var(--black-color);
 font-size: 1rem;
 font-weight: 400;
}

.nav-menu li:hover a {
 color: var(--main-color);
}

.business {
 color: var(--main-color);
 border: 3px solid var(--main-color);
 padding: .5rem .2rem;
 margin-top: .2rem;
}

/* =======home section ======== */
.home {
 background: url(./images/hero-bg.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 width: 100%;
 height: 100vh;
}

.home-title {
 color: var(--main-color);
 font-size: 2.5rem;
 font-weight: 300;
 margin-top: 2rem;
}

.main-title {
 color: var(--main-color);
 font-size: 5rem;
 font-weight: 900;
 width: 40vw;
}

.home-text {
 width: 35vw;
 margin-top: 1rem;
 font-weight: 700;
}

.date-time-title {
 margin-top: 3rem;
 color: gray;
 font-weight: 900;
 font-size: 2.3rem;
}

.date-time p {
 color: gray;
 font-size: 1.2rem;
}


/* =======main program ======= */

#program {
 background: url(./images/program-bg.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.program-title {
 text-align: center;
 color: #fff;
 font-size: 1.8rem;
 margin-bottom: .5rem;
}

.underlined {
 width: 3rem;
 height: 0.25rem;
 background-color: var(--main-color);
 margin-left: auto;
 margin-right: auto;
}

.card-container {
 display: flex;
 margin-top: 2rem;
 gap: .5rem;
}

.single-card {
 display: flex;
 width: 22%;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 gap: 1rem;
 background: rgba(255, 255, 255, 0.107);
 padding: 2rem;
 margin-bottom: 2rem;
}


.card-title {
 color: var(--main-color);
 font-size: 1.2rem;
 font-weight: 400;
}

.card-text {
 color: #fff;
}

.program-link {
 margin-top: 2rem;
 color: #fff;
 font-size: 1rem;
 text-align: center;
}

/* ==========feature section ======= */
.feature-title {
 color: var(--black-color);
}

.speaker-wrapper {
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 margin-top: 4rem;
}

.single-speaker {
 width: 50%;
 display: flex;
 gap: 1rem;
 margin-bottom: 4rem;
}

.speaker-info {
 width: 50%;
}

.speaker-name {
 font-size: 1.2rem;
}

.speaker-job {
 font-size: .89rem;
 font-style: italic;
 color: var(--main-color);
 padding-top: 1rem;
 padding-bottom: .7rem;
}

.speaker-text {
 font-size: 1rem;
 opacity: .8;
}

/* ====footer section====== */

.home-footer {
 background-color: var(--black-color);
}
.sponsor-wrapper {
 display: flex;
 align-items: center;
 gap: 1rem;
 margin-inline: 6rem;
 margin-top: 3rem;
 margin-bottom: 3rem;
}

.brand-img {
 width: 20%;
 height: 100px;
}

.card-icon {
 font-size: 2.5rem;
 color: var(--gray-color);
 width: 22%;
 opacity: .8;
}

.footer {
 background: #fff;
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 3rem;
}

.footer-logo {
 width: 8rem;
 height: 8rem;
 opacity: .7;
}

.footer-text {
 font-size: 1.2rem;
 opacity: .6;
}










@media screen and  (max-width: 768px) {
   .desktop {
    display: none;
   }

   .mobile {
    display: block;
    background: transparent;
   }

   .mobile-menu {
    font-size: 3rem;
    color: var(--black-color);
   }

   .mobile-menu:hover {
    color: var(--main-color);
   }

   .nav-menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--gray-color);
    width: 100%;
    height: 100vh;
    gap: 0.5rem;
    transform: translateX(-100%);
    transition: all .4s ease;
   }

   .nav-menu li  {
    padding: 1rem 2rem;
   }

   .nav-menu li a {
    color: var(--black-color);
    font-size: 1.5rem;
   }

   .nav-menu li:hover a{
    padding-left: 2rem;
   }

   .close-btn {
    color: #000;
    position: absolute;
    top: 38px;
    right: 38px;
    display: block;
    font-size: 2rem;
   }

   .close-btn:hover {
    font-size: 2.5rem;
    color: var(--main-color);
   }
   /* ======home section ===== */
   section {
    padding: 5% 2rem;
   }

   .home {
    background: url(./images/mobile-hero-bg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 85vh;
    gap: 2.5rem;
   }

   .main-text {
    width: 100%;
    align-self: flex-start;
    margin-top: 3rem;
   }

   .home-title {
    font-size: 1.4rem;
   }

   .main-title {
    font-size: 3rem;
    width: 80vw;
   }

   .home-text {
    width: 80vw;
    margin-top: 2rem;
    font-size: 1rem;
    letter-spacing: 1.5;
    line-height: 1.5;
    /* opacity: .7; */
   }

   .date-time {
    margin-top: 2rem;
   }

   .date-time-title {
    font-size: 1.9rem;
   }

   .card-container {
    flex-direction: column;
    margin-bottom: 2rem;
   }

   .single-card {
    width: 100%;
    flex-direction: row;
    gap: .5rem;
   }

   .program-btn {
    background-color: var(--main-color);
    color: #fff;
    font-size: 1rem;
    width: 100%;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: .5rem;
   }

   .speaker-wrapper {
    flex-direction: column;
   }

   .single-speaker {
    width: 100%;
   }

   .more-btn {
    background-color: #fff;
    color: var(--black-color);
    font-size: 1.2rem;
    width: 100%;
    padding: 1.2rem 2rem;
    border: .5px solid var(--black-color);
    border-radius: .5rem;
    box-shadow: 11px 11px 5px -6px rgba(217,183,183,0.75);
   }

   .more-btn:hover {
    background-color: var(--gray-color);
    box-shadow: 0 5px #666;
    transform: translateY(8px);
    border-color: var(--main-color);
   }


   .more-icon {
    color: var(--main-color);
    font-size: 2rem;
    margin-left: 1rem;
   }

 



}